<div class="collapse navbar-collapse justify-content-end" id="navbarNav"> 
  <ul class="navbar-nav">

    <% if user_signed_in? %>

      <li class="dropdown nav-item">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.name %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
          <%= link_to "LogOut", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>

    <% else %>

      <li class="nav-item">
        <%= link_to "LogIn", login_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "SignIn", signup_path, class: 'nav-link' %>
      </li>

    <% end %>

  </ul>
</div>